services:

    mysql-db:
        image: mysql:8.0
        environment:
            - MYSQL_ROOT_PASSWORD=${MYSQL_PASSWORD}
            - MYSQL_DATABASE=${MYSQL_DATABASE}
        ports:
            - "3307:3306"
        volumes:
            - ./db_data:/var/lib/mysql
        networks:
          - payment-network

    payment-app:
        build: ./payment
        container_name: payment-app
        ports:
            - "8080:8080"
        environment:
            - MYSQL_HOST=mysql-db
            - MYSQL_PORT=3306
            - MYSQL_DATABASE=${MYSQL_DATABASE}
            - MYSQL_USER=${MYSQL_USER}
            - MYSQL_PASSWORD=${MYSQL_PASSWORD}
        depends_on:
            - mysql-db
        networks:
            - payment-network

networks:
  payment-network:
    driver: bridge